# OpenAI Compatible LLM Configuration
BASE_URL=http://127.0.0.1:1234/v1
MODEL=qwen3.5-4b
TOKEN=lm-studio
ANYTHINGLLM_API_KEY=KXCDW5N-5QRMTPQ-P44JQHT-1CFR6VN
ANYTHINGLLM_WORKSPACE_SLUG=fbc09d5b-7f6d-48e1-a174-fa3cb02a70bb